.tags_popup_main_wrapper {
  background-color: white;
}
.tags_popup_main_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  /* padding-top: 150px; */
  z-index: 1111;
}
.media_heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
}
.tags_popup_main_wrapper .popup_content {
  padding: 20px;
  background-color: white;
  max-width: 62%;
  max-height: 90%;
  /* width: 100%; */
  /* height: 70vh; */
  margin: auto;
  border-radius: 8px;
  margin-left: 25%;
  overflow: auto;

  position: relative;
}
.tags_popup_main_wrapper .image_ {
  max-width: 138px;
  height: 138px;
  /* padding: 8px; */
  cursor: pointer;
  border-radius: 8px;
}
.tags_popup_main_wrapper .tabs_menu_ {
  flex-wrap: nowrap !important;
  overflow-x: scroll;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  border: 1px solid #c3c4c7;
  padding: 10px 10px !important;
  border-radius: 8px;
}
.tabs_sectons_wrapper ::-webkit-scrollbar {
  width: 5px !important ;
  height: 8px;
}
.tabs_sectons_wrapper ::-webkit-scrollbar-thumb {
  background-color: #2271b1;
  border-radius: 20px !important;
  border: 1px solid #2271b1 !important;
}
.tabs_sectons_wrapper ::-webkit-scrollbar-track {
  background: transparent;
  height: 5px !important; /* color of the tracking area */
}
.nav-pills .nav-link.active {
  background: #2271b1 !important;
  color: #f6f7f7 !important;
}
.nav-pills .nav-link {
  padding: 4px 8px;
  text-decoration: none;
  border: 1px solid #2271b1 !important;
  border-radius: 2px;
  text-shadow: none;
  font-weight: 600;
  font-size: 13px;
  line-height: normal;
  color: #2271b1 !important;
  background: #f6f7f7 !important;
  cursor: pointer;
  margin-right: 15px;
}
.tags_popup_main_wrapper .tabs_number {
  font-size: 13px;
  line-height: 20px;
  color: #3c434a;
  font-weight: 400;
  text-align: center;
}
.tags_popup_main_wrapper .loadMOre {
  background: #2271b1;
  border-color: #2271b1;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  border: none;
  font-size: 13px;
  padding: 8px 10px;
  border-radius: 3px;
}
.tab_content {
  /* margin-top: 20px; */
}
.tags_popup_main_wrapper .viewLess_btn {
  font-size: 13px;
  padding: 7px 10px;
  color: #2271b1;
  border: 1px solid #2271b1;
  background: #f6f7f7;
  vertical-align: top;
  border-radius: 3px;
  margin-left: 8px;
}
.tags_popup_main_wrapper .liberay_wrapper {
  position: relative;
}
.tags_popup_main_wrapper .addNewButton {
  padding: 4px 8px;
  text-decoration: none;
  border: 1px solid #2271b1;
  border-radius: 2px;
  text-shadow: none;
  font-weight: 600;
  font-size: 13px;
  line-height: normal;
  color: #2271b1;
  background: #f6f7f7;
  cursor: pointer;
}
.tags_popup_main_wrapper .tabs_menu_ {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  border: 1px solid #c3c4c7;
  padding: 10px 10px;
}
.tags_popup_main_wrapper .image_wrapper {
  justify-content: flex-start;
}
.tags_popup_main_wrapper .deletebtn {
  margin-right: 10px;
  background-color: red;
  color: white;
  border: none;
}
.cancel {
  position: absolute;
  right: 25px;
  cursor: pointer;
}
.final_button button:nth-child(1) {
  font-size: 15px;
  border-radius: 0.35rem;
  padding: 0.5rem 1rem;
  box-shadow: none;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  text-transform: capitalize;
  border: none;
  background: rgb(255, 0, 0);
}
.final_button button:nth-child(2) {
  font-size: 15px;
  border-radius: 0.35rem;
  padding: 0.5rem 1rem;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  background: rgb(132 90 223 / 28%);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  text-transform: capitalize;
  border: none;
}
.tags_popup_main_wrapper .content_section {
  height: 47vh;
  overflow-y: scroll;
}
@media screen and (max-width: 1200px) {
  .tags_popup_main_wrapper .image_ {
    height: 165px;
    max-width: 165px;
    padding: 8px;
  }
}
@media screen and (max-width: 1024px) {
  .tags_popup_main_wrapper .popup_content {
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .tags_popup_main_wrapper .image_wrapper {
    justify-content: center;
  }
  .tags_popup_main_wrapper .image_ {
    height: 115px;
    max-width: 115px;
  }
}

@media screen and (max-width: 576px) {
  .tags_popup_main_wrapper .image_section {
    width: 100%;
  }
}
