.linkTitle,
.mini_title {
  text-decoration: none;
  font-size: 13px;
  line-height: 20px;
  color: #845adf;
  font-weight: 400;
}

.page_title {
  font-weight: 600;
  font-size: 18px;
  color: #333;
  line-height: 22px;
}
