.main {
    min-height: 100vh;
    background-image: url('../../assets/images/Profile/login-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.dp_flex{
    display: flex;
}


.dp_flex2{
    display: flex;
    justify-content: center;
    align-items: center; 
}


.input_container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    padding: 7px;
    margin: 7px 0px;
    border-radius: 5px;
}

.input_container input {
    margin-left: 10px;
    border: none;
    width: 100%;
    background-color: white;
}
.input_container input:-webkit-autofill{
    /* -webkit-text-fill-color: yellow !important; */
    transition: background-color 600000s 0s, color 600000s 0s;
}
.input_container input:focus {
    outline: none;
    background-color: white;
}

.button_container {
    text-align: end;

}

.button_container button {
    color: white;
    border: none;
    background: #dd3333;
    padding: 5px 10px;
    border-radius: 5px;
}

.form_container form {
    margin-top: 20px;
    background-color: white;
    padding: 30px 20px;
    border: 1px solid #c3c4c7;
}

.line {
    margin-top: 6px !important;
    height: 14px;
    width: 1px;
    background: black;
    margin: 0px 5px;
}

.register_area {
    margin-top: 30px;
    padding: 0 15px;
    display: flex;
    color: #08aed3 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language_area {
    margin-top: 30px;
    padding: 0 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.language_area select {
    padding: 5px 10px;
    width: 100%;
    margin: 0px 10px;
}

.language_area  button{
    background-color: white;
    color: #08aed3;
    border: 1px solid #08aed3;
    padding: 5px 7px;
}
.error_msg {
    color: red;
    text-align: center;
    font-size: 12px;
  }
  