.cards_bodyes .card-title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #333335;
  margin-bottom: 0px;
}
.cards_bodyes .trasns_heading {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #333335;
  line-height: 20px;
}
.cards_bodyes .main__links {
  text-decoration: none;
}
.cards_bodyes .mini_texyted,
.cards_bodyes .date {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #8c9097;
  font-weight: 400;
}
.cards_bodyes .amount {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #e6533c;
  font-weight: 400;
}
