.order-message {
  font-weight: 500;
  font-size: 14px;
  color: red;
  padding-left: 20px;
  display: inline-block;
}
.status_change select {
  box-shadow: none;
  padding: 10px;
  border-radius: 0;
}
.status_change select:focus {
  box-shadow: none;
}
.update-order-status-btn {
  font-size: 15px;
  border-radius: 0.35rem;
  padding: 0.5rem 1rem;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  background: rgb(132 90 223 / 28%);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  text-transform: capitalize;
  border: none;
}
.update-order-status-btn:not(:disabled):hover {
  background-color: rgb(130 87 225);
  color: #fff;
}
.order {
  background-color: #fff;
  border-radius: 0.625rem;
}
.a-update-product-detail {
  padding-bottom: 10px;
}
.view-titles {
  padding: 1rem 1.25rem;
  border-bottom: 1px solid #00000014;
}

.user-detail-update .user-name,
.view-titles .order-no {
  margin: 0;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "poppins", sans-serif;
}
.user-detail-update .user-name {
  padding: 0 0 1rem 0;
  border-bottom: 1px solid #00000014;
}
.view-titles .order-no span {
  color: rgb(132, 90, 223);
}
.view-titles .order-date {
  background-color: rgba(132, 90, 223, 0.2);
  color: #845adf;
  font-size: 12px;
  margin: 0;
  padding: 2px 10px;
  font-weight: 600;
  border-radius: 2px;
}

.items-view-pro td,
.items-view-pro th {
  padding: 0.75rem;
  vertical-align: middle;
  line-height: 1.462;
  font-size: 0.813rem;
  font-weight: 500;
}

.items-view-pro tfoot td,
.items-view-pro th {
  font-weight: 700;
}
.items-view-pro th:not(th:first-child),
.items-view-pro td:not(td:first-child) {
  text-align: center;
}

.items-view-pro > :not(caption) > * > * {
  padding: 0.5rem 1.25rem;
  border-bottom-width: 1px;
  border-color: #00000014;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.items-view-pro .imgss-box {
  width: 50px;
  min-width: 50px;
  height: 50px;
  font-size: 1.5rem;
}
.items-view-pro .imgss-box img {
  border-radius: 5px;
}
.items-view-pro td,
.items-view-pro th {
  width: 20%;
}
.items-view-pro td:first-child,
.items-view-pro th:first-child {
  width: 40%;
  padding-right: 0;
}
.items-view-pro .imgss-title .title {
  color: #333335;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.462;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 0;
  /* text-decoration: none;
 */
}

.items-view-pro .imgss-title {
  text-decoration: none;
  text-underline-offset: 3px;
  text-decoration-color: #333335;
}
.items-view-pro .imgss-title:hover {
  text-decoration: underline;
  text-decoration-color: #333335;
}

/*  USER DETAIL */
.user-detail {
  background-color: #fff;
  border-radius: 0.625rem;
  padding: 1rem;
}

.ordr-detail h4 {
  font-size: 15px;
  margin-bottom: 10px;
}

.address p.col-row {
  color: #8c9097;
  font-size: 15px;
  margin-bottom: 5px;
  padding-left: 10px;
}
.address p.col-row strong {
  color: #333335;
  font-weight: 500;
}

.address .add-title {
  font-size: 20px;
  color: #333335;
  text-transform: capitalize;
  font-weight: 600;
  margin: 1rem 0;
}
.user-info {
  padding: 1rem;
  border-bottom: 1px solid #f3f3f3;
}
.user-info h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}

.ordr-detail {
  padding: 1rem 0;
  border-bottom: 1px solid #f3f3f3;
}

.ordr-detail .status {
  background: #c6c4c4;
  color: #000000;
  color: #94660c;
  border-radius: 3px;
  padding: 3px 8px;
  font-size: 14px;
  text-transform: capitalize;
}
.ordr-detail .status.cancelled {
  color: #fff;
  background: #ff8f00;
}
.ordr-detail .status.processing {
  background: #c6e1c6;
  color: #5b841b;
}

.ordr-detail .status.completed {
  background-color: #30f558;
  color: #022008;
}

.adding-produt-loader {
  position: absolute;
  background: #00000096;
  inset: 0;
  z-index: 12;
}

button.update-order-status-btn:disabled {
  opacity: 0.7;
}

button.update-order-status-btn:disabled:hover {
  opacity: 0.7;
}

.special-notes {
  padding: 1.25rem;
}

.special-notes .title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "poppins", sans-serif;
}
.special-notes .paraga {
  color: #333335;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0;
}
